<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"><meta charset="utf-8">
<title>葛飾区亀有でプログラミング教室やミュージカルなどの活動を行う一般社団法人ココロエデュケーションラボ(ココラボ)の公式サイトです。</title>
<meta name="description" content="葛飾区亀有でアクターズスクール、ボーカル、ダンス、アクションなどの表現教育と、ロボット工作、プログラミング教育の活動を行う一般社団法人ココロエデュケーションラボ(ココラボ)公式です。生まれた環境や経済的な環境に左右されない教育の機会をこども達に届ける活動をしております。ボランティア活動や出張ワークショップの開催、ミュージカルで芸術に触れる機会を届ける活動などを行っております。">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/asset-66856466784106c2.css" rel="stylesheet">
<link href="/asset-8a5a460c4cf6e46f.css" rel="stylesheet">
<link href="/asset-7f0894b4f33b9845.css" rel="stylesheet" id="js-theme-css-file" data-filename="vitamin_v2.css">

<script src="/asset-6bd87232efda5571.js"></script><script src="/asset-95d57abff548be98.js"></script><link rel="icon" href="/asset-328f814c1b59fe6c.png">

<meta property="og:image" content="https://cdn.peraichi.com/userData/57d5e478-0d28-475b-ad09-173a0a0000c2/img/603d9a16c6a91/original.png">
<meta property="og:url" content="https://coco-labo.net">
<meta property="og:title" content="葛飾区亀有でプログラミング教室やミュージカルなどの活動を行う一般社団法人ココロエデュケーションラボの公式サイトです。">
<meta property="og:site_name" content="葛飾区亀有でプログラミング教室やミュージカルなどの活動を行う一般社団法人ココロエデュケーションラボの公式サイトです。">
<meta property="og:type" content="website">
<meta property="og:description" content="葛飾区亀有でアクターズスクール、ボーカル、ダンス、アクションなどの表現教育と、ロボット工作、プログラミング教育の活動を行う一般社団法人ココロエデュケーションラボ公式です。生まれた環境や経済的な環境に左右されない教育の機会をこども達に届ける活動をしております。ボランティア活動や出張ワークショップの開催、ミュージカルで芸術に触れる機会を届ける活動などを行っております。"><script type="text/javascript" src="/asset-d6ddb99d949d9b40.js"></script><script type="text/javascript" src="/asset-2e1bc448edc6cb74.js"></script><script type="text/javascript" src="/asset-f00f33516f293f43.js"></script>
<meta name="google-site-verification" content="RirDBLcgZq10TdM-nyxt4EzLBtyes2FECY2R3tF2HQk">

<link rel="canonical" href="https://coco-labo.net"><style type="text/css">.pera1-form .hp { display:none !important; visibility:hidden !important; }</style>
<script src="/asset-e57313435845b7c0.js"></script><meta name="robots" content="noindex, nofollow"></head>
  <body class="theme-base theme-ed theme-custom theme-modern template-theme-vitamin_v2 fp_fp-iwa_udr_go_pro-md" data-template-name="ed-b" style="overflow: auto; padding-top: 97px;" data-page-animation-setting='{"animation":"fade"}' data-is-initial-val-of-template-theme="0" data-is-available-on-template-theme="true">
        <div class="s_navigation_fixed p-header-fixed pera1-section block" data-structure="b-ed-header-nav--fixed" data-block-name="左画像+右メニュー" id="section-1" data-optional-block-settings-key="0">
          <div class="p-header font-round">
                <div class="section">
                  <div class="m_navigation p-m_navigation u-align-right pera1-editable" data-pera1-type="navigation" data-bgcolor="" style="text-align: right;">
                    <div class="grid-wrapper grid-wrapper--lg p-navigation__wrapper">
                      <div class="p-navigation row middle-xs">
                            <div class="c-inner c-inner--vertical c-inner--one-elem c-inner-sp--sm">
                              <div class="navigationHeader p-navigationHeader col-xs-12 col-md">
                                <div class="p-header__nav-heading p-header__logo c-img c-img--responsive-v u-align-left pera1-removable"><img class="pera1-editable" src="/asset-e2e122da6c9404fd.png" alt="" data-structure="e-img">
                                </div>
                              </div>
                              <div class="btn_navigationToggle p-btn_navigationToggle"><i class="fa"></i></div>
                            </div>
                            <ul class="m_navigationMenu p-m_navigationMenu col-xs-12 col-md u-fslg font-size-18px" data-textcolor="#333" style="color: rgb(51, 51, 51);"><li><a href="#section-11" target="_self">ココラボについて</a></li><li><a href="#section-4" target="_self">事業紹介</a></li><li><a href="#section-15" target="_self">メンバー紹介</a></li><li><a href="#section-13" target="_self">ひなた号の冒険</a></li><li><a href="#section-7" target="_self">アクセス</a></li><li><a href="#section-8" target="_self">お問い合わせ</a></li></ul>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
        <div class="pera1-section block" data-structure="b-premium-slider" data-block-name="スライダー" id="section-19" data-optional-block-settings-key="1">
  <div class="only-edit u-align-center" style="background-color: #fff8d9;border: 2px solid #f2c200;padding:10px;"><i class="fa fa-info-circle"></i>
    実際のスライダーの動きは、プレビュー/公開ページでご確認ください
  </div>
  <div class="swiper-container pera1-editable" data-pera1-type="slider" data-slider-option-params='{"autoplay":false}'>
    <div class="swiper-wrapper"><div class="swiper-slide"><img class="swiper-slide-img" src="/asset-c640eb1cad009b28.JPG" alt=""></div><div class="swiper-slide"><img class="swiper-slide-img" src="/asset-acf1099d8678a260.jpg" alt=""></div><div class="swiper-slide"><img class="swiper-slide-img" src="/asset-3261e28ffef485aa.jpg" alt=""></div></div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button swiper-button-prev"></div>
    <div class="swiper-button swiper-button-next"></div>
  </div>
</div>
        <div class="pera1-section block" data-structure="b-ed-sentence" data-block-name="文章" id="section-11" data-optional-block-settings-key="2">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="0">
    <div class="c-wrapper c-wrapper--sm u-text-shadow u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div class="p-ed-heading-decoration font-round c-heading u-mbmd pera1-removable">
          <h2 data-structure="e-heading" class="pera1-editable"><strong>ココラボについて</strong></h2>
        </div>
        <div class="u-mbmd pera1-removable">
          <div data-structure="e-text" class="pera1-editable"><div style="text-align: left;">
<p>ココロエデュケーションラボは「宝物はキミの見た景色」をテーマに、生まれた環境や経済的な環境に左右されず、多様化する社会において、それぞれにあった生き方や働き方を見つけ、どこででも生きられる人間力・コミュニケーション能力を育める経験や体験を届ける為に作られた団体です。</p>
</div>
<div style="text-align: left;">また、こどもに関わる方、教育関係者への研修、教育をテーマにした勉強会や交流会、地域の方々と連携した取り組みなど、複合的なアプローチにて、100年時代の教育の新しい形を目指しています。</div></div>
        </div>
      </div>
    </div>
  </div>
</div>
        <div class="pera1-section block" data-structure="b-ed-cards-img-left--2col" data-block-name="左画像カード(2列)" id="section-4" data-optional-block-settings-key="3">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" style="background-image: url(//cdn.peraichi.com/template_root/v2/s3bucket/images/templates/ed/bg_eee.png)" data-bg-key="1">
            <div class="c-wrapper c-wrapper--lg u-align-center">
              <div class="c-inner c-inner--lg c-inner--vertical">
                <div class="p-ed-heading-decoration c-heading u-mblg u-mbmd--sp font-round pera1-removable">
                      <h2 data-structure="e-heading" class="pera1-editable"><strong>事業紹介</strong></h2>
                </div>
                <div class="pera1-removable">
                      <div data-structure="ed-card-img-left">
                        <div class="grid-wrapper grid-wrapper--full">
                          <div class="row center-xs row-item-gutter--lg">
                            <div class="u-mbmd col-xs-12 col-sm-6 pera1-removable">
                                  <div class="c-inner p-ed-card-img-left u-mbmd">
                                    <div class="grid-wrapper">
                                      <div class="row center-xs">
                                        <div class="col-xs-12 col-md-4 basis-auto-sm pera1-removable">
                                          <div class="c-img c-img--responsive u-mbmd"><img class="pera1-editable" src="/asset-822920f2d6f4bec6.jpg" alt="" data-structure="e-img">
                                          </div>
                                        </div>
                                        <div class="col-xs-12 col-md center-xs start-md pera1-removable">
                                          <div class="c-heading c-heading--sm u-mbmd font-round pera1-removable">
                                                <div data-structure="e-heading" class="pera1-editable">PCN東京<span data-custom-pc-fontsize="10px">(プログラミングクラブネットワーク)</span><br><p><span data-custom-pc-fontsize="10px">出張講師/自主企画イベント</span></p></div>
                                          </div>
                                          <div class="u-mbmd u-align-left pera1-removable">
                                                <div data-custom-pc-fontsize="10px" data-structure="e-text" class="pera1-editable"><div style="text-align: left;"><span data-custom-pc-fontsize="10px">「全ての子供達にプログラミングを」のもと、全国でプログラミング体験ワークショップを開催しております。<br>Ichigojam(イチゴジャム)というコンピューターを用いて、キーボードによるテキストプログラミングを行います。<br>児童養護施設、特別支援学級、インターナショナルスクール、こども食堂など、様々な場所での開催実績があります。</span></div></div>
                                          </div>
                                          
                                          <div class="c-btn c-btn--full c-btn--round u-mbmd font-round pera1-removable"><a class="pera1-editable" data-structure="e-btn" href="/pcntokyo" target="_blank">詳細を見る</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                            
                            
                            <div class="u-mbmd col-xs-12 col-sm-6 pera1-removable" data-elem-name="ed-card-img-left">
                                  <div class="c-inner p-ed-card-img-left u-mbmd">
                                    <div class="grid-wrapper">
                                      <div class="row center-xs">
                                        <div class="col-xs-12 col-md-4 basis-auto-sm pera1-removable">
                                          <div class="c-img c-img--responsive u-mbmd"><img class="pera1-editable" src="/asset-c354cc8c7c6e400a.jpg" alt="" data-structure="e-img" style="">
                                          </div>
                                        </div>
                                        <div class="col-xs-12 col-md center-xs start-md pera1-removable">
                                          <div class="c-heading c-heading--sm u-mbmd font-round pera1-removable">
                                                <div data-structure="e-heading" class="pera1-editable"><div>
<p><span data-custom-pc-fontsize="10px"><span style="font-size: 20px;"><strong>ココラボアクターズスクール<br></strong></span>芸能コース/コミュニケーション向上コース</span></p>
</div></div>
                                          </div>
                                          <div class="u-mbmd u-align-left pera1-removable">
                                                <div data-structure="e-text" class="pera1-editable"><div>
<p><span data-custom-pc-fontsize="10px">演技、ダンス、歌、アクションなどの科目を1年間を通して総合的に好きなことから楽しみながら成長できるスクールです。芸能を目指したいと考えているお子様の保護者様、もしくはお子様の表現力の向上のため、コミュニケーションに困ってなど様々な目的に合わせて通っていただけます。</span></p>
</div></div>
                                          </div>
                                          
                                          <div class="c-btn c-btn--full c-btn--round u-mbmd font-round pera1-removable"><a class="pera1-editable" data-structure="e-btn" href="https://hinata-actors-school.com/" target="_blank" style="">詳細を見る</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div><div class="u-mbmd col-xs-12 col-sm-6 pera1-removable" data-elem-name="ed-card-img-left">
                                  <div class="c-inner p-ed-card-img-left u-mbmd">
                                    <div class="grid-wrapper">
                                      <div class="row center-xs">
                                        <div class="col-xs-12 col-md-4 basis-auto-sm pera1-removable">
                                          <div class="c-img c-img--responsive u-mbmd"><img class="pera1-editable" src="/asset-a22817a1f528f88c.JPG" alt="" data-structure="e-img" style="">
                                          </div>
                                        </div>
                                        <div class="col-xs-12 col-md center-xs start-md pera1-removable">
                                          <div class="c-heading c-heading--sm u-mbmd font-round pera1-removable">
                                                <div data-structure="e-heading" data-custom-pc-fontsize="20px" class="pera1-editable"><p><span data-custom-pc-fontsize="10px"><span style="font-size: 20px;" data-mce-style="font-size: 20px;">プログラミングスクール<br></span>ロボット＆電子工作</span></p></div>
                                          </div>
                                          <div class="u-mbmd u-align-left pera1-removable">
                                                <div data-structure="e-text" class="pera1-editable"><div>
<p><span data-custom-pc-fontsize="10px">小学生から高校生までを対象とした定期教室です。モーターやセンサーを使ったプログラミングやロボット工作・電子工作など、それぞれの目標に沿って様々な体験を行います。「サイバーサクラ」や「PCNプロコン」での入賞を目指しています。2023年度よりマイクラもカリキュラムに取り入れております。</span></p>
</div></div>
                                          </div>
                                          
                                          <div class="c-btn c-btn--full c-btn--round u-mbmd font-round pera1-removable"><a class="pera1-editable" data-structure="e-btn" href="/robot" target="_blank" style="">詳細を見る</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div><div class="u-mbmd col-xs-12 col-sm-6 pera1-removable" data-elem-name="ed-card-img-left">
                                  <div class="c-inner p-ed-card-img-left u-mbmd">
                                    <div class="grid-wrapper">
                                      <div class="row center-xs">
                                        <div class="col-xs-12 col-md-4 basis-auto-sm pera1-removable">
                                          <div class="c-img c-img--responsive u-mbmd"><img class="pera1-editable" src="/asset-5c0d303dffe934b1.jpg" alt="" data-structure="e-img" style="">
                                          </div>
                                        </div>
                                        <div class="col-xs-12 col-md center-xs start-md pera1-removable">
                                          <div class="c-heading c-heading--sm u-mbmd font-round pera1-removable">
                                                <div data-structure="e-heading" class="pera1-editable">未来教育劇団ここたね</div>
                                          </div>
                                          <div class="u-mbmd u-align-left pera1-removable">
                                                <div data-structure="e-text" class="pera1-editable"><div>
<p><span data-custom-pc-fontsize="11px">「心に種を」をキーワードに、学びや気づきをテーマにした演劇公演を行う劇団です。様々な脚本家や演出家、劇団や役者ともコラボした公演やこどもたちと作る演劇公演などの活動も行っています。</span><br><br><span data-custom-pc-fontsize="11px">メンバーはそれぞれ英語、芝居、音楽など得意分野を持ち、演劇公演をメインとしながら、演劇を基礎としたコミュニケーション教育ワークショップのファシリテーターも努めます。</span></p>
</div></div>
                                          </div>
                                          
                                          <div class="c-btn c-btn--full c-btn--round u-mbmd font-round pera1-removable"><a class="pera1-editable" data-structure="e-btn" href="/cocotane" target="_blank" style="">詳細を見る</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div><div class="u-mbmd col-xs-12 col-sm-6 pera1-removable" data-elem-name="ed-card-img-left">
                                  <div class="c-inner p-ed-card-img-left u-mbmd">
                                    <div class="grid-wrapper">
                                      <div class="row center-xs">
                                        <div class="col-xs-12 col-md-4 basis-auto-sm pera1-removable">
                                          <div class="c-img c-img--responsive u-mbmd"><img class="pera1-editable" src="/asset-9262f2abbe011d63.jpg" alt="" data-structure="e-img">
                                          </div>
                                        </div>
                                        <div class="col-xs-12 col-md center-xs start-md pera1-removable">
                                          <div class="c-heading c-heading--sm u-mbmd font-round pera1-removable">
                                                <div data-structure="e-heading" class="pera1-editable">えまいまキッズカフェ<br><span data-custom-pc-fontsize="10px">こども食堂/こどもの居場所</span></div>
                                          </div>
                                          <div class="u-mbmd u-align-left pera1-removable">
                                                <div data-structure="e-text" class="pera1-editable"><p><span data-custom-pc-fontsize="10px">「宿題をしてゲームしよう！」を合言葉に、子供たちが放課後に安心して遊べる居場所作りを目指して、地域団体が協力して作り上げる学びと遊びの時間を提供するアフタースクールです。<br>プログラミングや知育ボードゲーム、ペーパークラフトやお絵描きなど、子供たちにたくさんの体験も実践しつつ、夏には流しそうめん、冬には餅つきなど、季節に合わせた行事なども実施しております。</span></p></div>
                                          </div>
                                          
                                          <div class="c-btn c-btn--full c-btn--round u-mbmd font-round pera1-removable"><a class="pera1-editable" data-structure="e-btn" href="https://emeima.com/" target="_blank" style="">詳細を見る</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div><div class="u-mbmd col-xs-12 col-sm-6 pera1-removable" data-elem-name="ed-card-img-left">
                                  <div class="c-inner p-ed-card-img-left u-mbmd">
                                    <div class="grid-wrapper">
                                      <div class="row center-xs">
                                        <div class="col-xs-12 col-md-4 basis-auto-sm pera1-removable">
                                          <div class="c-img c-img--responsive u-mbmd"><img class="pera1-editable" src="/asset-c09b2f7c67ef5536.jpg" alt="" data-structure="e-img" style="">
                                          </div>
                                        </div>
                                        <div class="col-xs-12 col-md center-xs start-md pera1-removable">
                                          <div class="c-heading c-heading--sm u-mbmd font-round pera1-removable">
                                                <div data-structure="e-heading" class="pera1-editable"><div><strong><strong>アクトプログラム<br></strong></strong>
<p><span data-custom-pc-fontsize="10px">ミュージカル体験/演劇体験</span></p>
</div></div>
                                          </div>
                                          <div class="u-mbmd u-align-left pera1-removable">
                                                <div data-structure="e-text" class="pera1-editable"><p><span data-custom-pc-fontsize="10px">学童、児童館、学習支援施設など、各種施設内にて開催する表現教育プログラムです。3日、6日、10日など、ニーズに合わせてカリキュラムをご用意します。お芝居など表現することの楽しさ、コミュニケーション能力の向上、自己表現、マナーなどを体験しながら学びます。歌やお芝居のレッスン、リハーサルと発表会、そして振り返りを通して、コミュニケーションを基礎に、協調性を磨くと共に、みんなとステージを創る喜びを体験して頂きます。</span></p></div>
                                          </div>
                                          
                                          <div class="c-btn c-btn--full c-btn--round u-mbmd font-round pera1-removable"><a class="pera1-editable" data-structure="e-btn" href="https://coco-labo.net/actprogram" target="_blank" style="">詳細を見る</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div><div class="u-mbmd col-xs-12 col-sm-6 pera1-removable" data-elem-name="ed-card-img-left">
                                  <div class="c-inner p-ed-card-img-left u-mbmd">
                                    <div class="grid-wrapper">
                                      <div class="row center-xs">
                                        <div class="col-xs-12 col-md-4 basis-auto-sm pera1-removable">
                                          <div class="c-img c-img--responsive u-mbmd"><img class="pera1-editable" src="/asset-6ac30aa36a766410.png" alt="" data-structure="e-img" style="">
                                          </div>
                                        </div>
                                        <div class="col-xs-12 col-md center-xs start-md pera1-removable">
                                          <div class="c-heading c-heading--sm u-mbmd font-round pera1-removable">
                                                <div data-structure="e-heading" class="pera1-editable"><div>
<p><span data-custom-pc-fontsize="10px"><span style="font-size: 20px;"><strong>KWHダンススクール<br></strong></span>ジャズダンスコース/キッズミュージカルダンスコース<br></span></p>
</div></div>
                                          </div>
                                          <div class="u-mbmd u-align-left pera1-removable">
                                                <div data-structure="e-text" class="pera1-editable"><div>
<p><br>ダンスを通して、表現力、リズム感、身体能力を上げる・・・ことはもちろんのこと子どもたちの自己肯定感や自己表現能力を高めることを目指したスクールです。</p>
</div></div>
                                          </div>
                                          
                                          <div class="c-btn c-btn--full c-btn--round u-mbmd font-round pera1-removable"><a class="pera1-editable" data-structure="e-btn" href="/kwhdanceschool" target="_blank" style="">詳細を見る</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                          <div class="u-mbmd col-xs-12 col-sm-6 pera1-removable pera1-ghost pera1-add pera1-multiple" data-elem-name="ed-card-img-left" style="opacity: 0; height: 50px;" data-nosnippet="">
                  <div class="c-inner p-ed-card-img-left u-mbmd">
                    <div class="grid-wrapper">
                      <div class="row center-xs">
                        <div class="col-xs-12 col-md-4 basis-auto-sm pera1-removable">
                          <div class="c-img c-img--responsive u-mbmd"><img class="pera1-editable" src="/asset-512352f429b4d4a9.png" alt="" data-structure="e-img">
                          </div>
                        </div>
                        <div class="col-xs-12 col-md center-xs start-md pera1-removable">
                          <div class="c-heading c-heading--sm u-mbmd font-round pera1-removable">
                            <div class="pera1-editable" data-structure="e-heading"><strong>コース名</strong></div>
                          </div>
                          <div class="u-mbmd u-align-left pera1-removable">
                            <div class="pera1-editable" data-structure="e-text">ここをクリックして表示したいテキストを入力してください。テキストは「右寄せ」「中央寄せ」「左寄せ」といった整列方向、「太字」「斜体」「下線」「取り消し線」、「文字サイズ」「文字色」「文字の背景色」など細かく編集することができます。</div>
                          </div>
                          <div class="u-mbmd u-align-left font-round pera1-removable">
                            <div class="pera1-editable font-size-18px" data-structure="e-text"><strong>0,000円/月</strong></div>
                          </div>
                          <div class="c-btn c-btn--full c-btn--round u-mbmd font-round pera1-removable"><a class="pera1-editable" data-structure="e-btn">詳細を見る</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div></div>
                        </div>
                      </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pera1-section block" data-structure="b-img-full-gallery--6col" data-block-name="ギャラリー(6列・余白なし)" id="section-14" data-optional-block-settings-key="4">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="2">
    
  </div>
</div><div class="pera1-section block" data-structure="b-article-img-left" data-block-name="左画像" id="section-25" data-optional-block-settings-key="5">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="3">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div class="c-heading c-heading--block-main u-mbmd pera1-removable">
          <h2 data-structure="e-heading" class="pera1-editable"><strong>公式<span style="color: rgb(27, 175, 90);" data-mce-style="color: #1baf5a;">LINE</span>にてキャンペーンやイベントの情報を発信中！</strong></h2>
        </div>
        <div class="grid-wrapper grid-wrapper--full">
          <div class="row row-item-gutter--lg">
            <div class="col-xs-12 col-sm-5 basis-auto-sm u-align-center u-mbmd u-mbmd--sp pera1-removable">
              <div class="c-img c-img--responsive"><img class="pera1-editable" src="/asset-ad50dea87b4a4bab.png" alt="" data-structure="e-img" style="">
              </div>
            </div>
            <div class="col-xs-12 col-sm">
              <div class="u-mbmd p-article-lead-text pera1-removable">
                <div data-structure="e-text" class="pera1-editable"><div>まずは公式LINEに登録してみてください（登録は無料）</div></div>
              </div>
              <div class="u-mbmd p-article-subhead pera1-removable">
                <div data-structure="e-text" class="pera1-editable"><strong>キャンペーンやイベントなどの情報を不定期にて配信しております。</strong></div>
              </div>
              <div class="u-mbmd p-article-main-text pera1-removable">
                <div data-structure="e-text" class="pera1-editable"><div><a href="https://lin.ee/x5MQSyc">LINEはこちらから！</a></div>
<div>公式LINEのみでお知らせする内容もありますので、まずは登録をお願いします。</div></div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-ed-article-img-left--profile" data-block-name="左画像" id="section-15" data-optional-block-settings-key="6">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" style="background-image: url(//cdn.peraichi.com/template_root/v2/s3bucket/images/templates/ed/bg_eee.png)" data-bg-key="4">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div class="u-align-center">
          <div class="c-heading p-ed-heading-decoration u-mblg u-mbmd--sp font-round pera1-removable">
            <h2 data-structure="e-heading" class="pera1-editable"><strong>メンバー紹介</strong></h2>
          </div>
        </div>
        <div class="grid-wrapper grid-wrapper--sm">
          <div class="row row-item-gutter--lg center-xs">
            <div class="col-xs-12 col-sm-6 basis-auto-sm u-align-center pera1-removable">
              <div class="c-img c-img--responsive u-mbmd"><img class="pera1-editable" src="/asset-86a6a32b92d2a730.png" alt="" data-structure="e-img">
              </div>
            </div>
            <div class="col-xs-12 col-sm pera1-removable">
              <div class="u-mbmd u-align-left">
                <div class="font-round u-inline-block u-mbsm pera1-removable">
                  <div data-structure="e-text" class="pera1-editable font-size-22px"><strong>森谷 哲</strong></div>
                </div>
                <div class="font-round u-inline-block u-mbsm pera1-removable">
                  <div data-structure="e-text" class="pera1-editable font-size-18px">代表理事</div>
                </div>
                <div class="pera1-removable">
                  <div data-structure="e-text" class="pera1-editable"><p>PCN認定講師<br>青山学院大学ワークショップデザイナー<br>7つの習慣ボードゲーム公式ナビゲーター<br>SDGｓゲーム公認ファシリテーター<br>防災士<br><br>PCN東京の代表講師やタミヤロボットスクール東京先行教室の講師としても活動。フジテレビや総務省などのイベントなどでも講師を務め、全国を駆け回っている。プログラミングのみならず、7つの習慣やSDGsボードゲームを使った学習プログラムも担当する。</p></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        <div class="pera1-section block" data-structure="b-hr-origin--3" data-block-name="区切り線(手書き3)" id="section-17" data-optional-block-settings-key="7">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="5">
    <hr class="c-hr-origin c-hr-origin--3" data-structure="e-hr-origin--3">
  </div>
</div>
        
        <div class="pera1-section block" data-structure="b-ed-cards--3col" data-block-name="上画像カード(3列)" id="section-23" data-optional-block-settings-key="8">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="6">
    <div class="c-wrapper c-wrapper--lg u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div class="p-ed-heading-decoration c-heading u-mblg u-mbmd--sp font-round pera1-removable">
          <h2 data-structure="e-heading" class="pera1-editable"><strong>活動実績</strong></h2>
        </div>
        <div class="pera1-removable">
          <div data-structure="m-ed-card-price">
            <div class="grid-wrapper grid-wrapper--full">
              <div class="row center-xs row-item-gutter--lg">
                <div class="u-mbmd col-xs-12 col-sm-6 col-md-4 pera1-removable">
                  <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="/asset-a22817a1f528f88c.JPG" alt="" data-structure="e-img">
                  </div>
                  <div class="c-heading c-heading--sm u-mbmd font-round pera1-removable">
                    <div data-structure="e-heading" class="pera1-editable"><strong>プログラミング教育</strong></div>
                  </div>
                  <div class="u-mbmd u-align-left pera1-removable">
                    <div data-structure="e-text" class="pera1-editable">全国で活動するPCN(プログラミングクラブネットワーク)として、児童養護施設や院内学級などでのボランティア活動、行政や民間団体からの委託による各種出張ワークショップを開催しております。</div>
                  </div>
                  
                  <div class="c-btn c-btn--full c-btn--round u-mbmd font-round pera1-removable"><a class="pera1-editable" data-structure="e-btn" href="/pcntokyo" target="_blank" style="background-color: rgb(40, 195, 212);">詳細を見る</a>
                  </div>
                </div>
                <div class="u-mbmd col-xs-12 col-sm-6 col-md-4 pera1-removable">
                  <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="/asset-090fe87053dfea08.jpg" alt="" data-structure="e-img">
                  </div>
                  <div class="c-heading c-heading--sm u-mbmd font-round pera1-removable">
                    <div data-structure="e-heading" class="pera1-editable"><strong>表現教育</strong></div>
                  </div>
                  <div class="u-mbmd u-align-left pera1-removable">
                    <div data-structure="e-text" class="pera1-editable"><div>母子支援施設、放課後等デイサービスを始め、保育園や学童保育などでも出張ワークショップを実施しております。</div></div>
                  </div>
                  
                  <div class="c-btn c-btn--full c-btn--round u-mbmd font-round pera1-removable"><a class="pera1-editable" data-structure="e-btn" href="https://coco-labo.net/actprogram" target="_blank" style="background-color: rgb(40, 195, 212);">詳細を見る</a>
                  </div>
                </div>
                <div class="u-mbmd col-xs-12 col-sm-6 col-md-4 pera1-removable" data-elem-name="ed-card-price">
                  <div class="c-img c-img--responsive u-mbmd pera1-removable"><div class="pera1-clip-image" data-image-clip-container="" style="max-width: 408px;width: 100%;margin: 0 auto;overflow: hidden;">
                <figure style="position: relative;padding-top: 75%;overflow: hidden;">
                    <img src="/asset-c354cc8c7c6e400a.jpg" class="pera1-editable" style="position: absolute;top: 0;left: 0;display: block;width: 100%;height: 100%;opacity: 0;" data-structure="e-img" alt="" data-clip-image-origin="" data-image-clip-settings='{"x":0,"y":0,"scale":1,"round":0,"roundType":"circle","type":"origin","frame":"aspect","orient":"horizontal","aspect":"4:3"}'>
                    <div data-image-clip-viewer="" style="position: absolute;top: 50%;left: 50%;display: block;width: 100%;padding-top: 100%;margin: 0 auto;background-image: url(//cdn.peraichi.com/userData/57d5e478-0d28-475b-ad09-173a0a0000c2/img/64487f5a3b51b/original.jpg);background-position: center;background-size: 100% auto;background-repeat: no-repeat;transform: translate(-50%, -50%) scale(1);transform-origin: center;pointer-events: none;"></div>
                    <div data-image-clip-spacer="" style="width: 100%;height: 100%;margin-top: -100%;">
                        <img src="/asset-c354cc8c7c6e400a.jpg" style="display: block;opacity: 0;pointer-events: none;">
                    </div>
                </figure>
            </div>
                  </div>
                  <div class="c-heading c-heading--sm u-mbmd font-round pera1-removable">
                    <div data-structure="e-heading" class="pera1-editable"><strong>ミュージカル</strong></div>
                  </div>
                  <div class="u-mbmd u-align-left pera1-removable">
                    <div data-structure="e-text" class="pera1-editable">全てのこども達に芸術に触れる機会を平等に届けたい。そんな想いから、個人・法人様から協賛を頂いて自主公演にこども達を招待する活動を続けております。自主公演には各地の教育委員会様の後援を頂いております。</div>
                  </div>
                  
                  <div class="c-btn c-btn--full c-btn--round u-mbmd font-round pera1-removable"><a class="pera1-editable" data-structure="e-btn" href="https://coco-labo.net/" target="_blank" style="background-color: rgb(40, 195, 212);">詳細を見る</a>
                  </div>
                </div>
              <div class="u-mbmd col-xs-12 col-sm-6 col-md-4 pera1-removable pera1-ghost pera1-add pera1-multiple" data-elem-name="ed-card-price" style="opacity: 0; height: 50px;" data-nosnippet="">
                  <div class="c-img c-img--responsive u-mbmd pera1-removable"><img class="pera1-editable" src="/asset-2f6452f11ec1bba1.png" alt="" data-structure="e-img">
                  </div>
                  <div class="c-heading c-heading--sm u-mbmd font-round pera1-removable">
                    <div class="pera1-editable" data-structure="e-heading"><strong>コース名</strong></div>
                  </div>
                  <div class="u-mbmd u-align-left pera1-removable">
                    <div class="pera1-editable" data-structure="e-text">ここをクリックして表示したいテキストを入力してください。テキストは「右寄せ」「中央寄せ」「左寄せ」といった整列方向、「太字」「斜体」「下線」「取り消し線」、「文字サイズ」「文字色」「文字の背景色」など細かく編集することができます。</div>
                  </div>
                  <div class="u-mbmd u-align-left font-round pera1-removable">
                    <div class="pera1-editable font-size-18px" data-structure="e-text"><strong>0,000円/月</strong></div>
                  </div>
                  <div class="c-btn c-btn--full c-btn--round u-mbmd font-round pera1-removable"><a class="pera1-editable" data-structure="e-btn">詳細を見る</a>
                  </div>
                </div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-ed-article-img-left--profile" data-block-name="左画像" id="section-12" data-optional-block-settings-key="9">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" style="background-image: url(//cdn.peraichi.com/template_root/v2/s3bucket/images/templates/ed/bg_eee.png)" data-bg-key="7">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div class="u-align-center">
          <div class="c-heading p-ed-heading-decoration u-mblg u-mbmd--sp font-round pera1-removable">
            <h2 data-structure="e-heading" class="pera1-editable"><strong>主要取引先</strong></h2>
          </div>
        </div>
        <div class="grid-wrapper grid-wrapper--sm">
          <div class="row row-item-gutter--lg center-xs">
            <div class="col-xs-12 col-sm-6 basis-auto-sm u-align-center pera1-removable">
              <div class="c-img c-img--responsive u-mbmd"><img class="pera1-editable" src="/asset-062c671a29e12e30.jpg" alt="" data-structure="e-img">
              </div>
            </div>
            <div class="col-xs-12 col-sm pera1-removable">
              <div class="u-mbmd u-align-left">
                
                
                <div class="pera1-removable">
                  <div data-structure="e-text" class="pera1-editable"><p>主取引先(敬称略・順不同)<br>地方自治体(葛飾区,柏市,南相木村,ほか)<br>社会福祉法人惠史会(吉野沢保育園)<br>公認財団法人焼津市振興公社<br>一般社団法人子供教育創造機構<br>株式会社フジテレビキッズ<br>株式会社ナチュラルサイエンス<br>よしもとクリエイティブ・エージェンシー<br>株式会社丸井<br>T-KIDSシェアスクール(蔦屋書店系列)</p><p>など</p></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="s_form_premium pera1-section block" data-structure="b-ed-form--has-tel" data-block-name="フォーム+電話番号" id="section-8" data-optional-block-settings-key="10">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" style="background-image: none; background-repeat: no-repeat; background-position: center center; background-size: cover;" data-bg-key="8">
            <div class="c-wrapper c-wrapper--sm">
              <div class="c-inner c-inner--lg c-inner--one-elem c-inner--vertical">
                <div class="u-align-center">
                  <div class="u-pbmd pera1-removable">
                    <div class="p-ed-heading-decoration c-heading u-mbmd font-round pera1-removable">
                          <h2 class="pera1-editable" data-structure="e-heading"><strong>お電話でのお問い合わせ</strong></h2>
                    </div>
                    <div class="u-mbsm pera1-removable">
                          <div data-structure="e-text" class="pera1-editable font-size-24px"><strong>03-6662-4440</strong></div>
                    </div>
                    
                  </div>
                  <div class="p-ed-heading-decoration c-heading u-mbmd font-round pera1-removable">
                        <h2 class="pera1-editable" data-structure="e-heading"><strong>フォームからのお問い合わせ</strong></h2>
                  </div>
                  <div class="u-mbmd u-mbsm--sp pera1-removable">
                        <div data-structure="e-text" class="pera1-editable">体験参加・出張講座などご予算に合わせてご提案可能です。お気軽にご相談ください。</div>
                  </div>
                </div>
                <div class="p-form p-ed-form c-form m_form">
                  <div class="c-inner c-inner--sm c-inner--one-elem">
                        <div class="only-edit"><i class="fa fa-info-circle"></i>フォームから送信された内容はマイページの「フォーム」ボタンから確認できます。</div>
                    <div style="padding:24px;background:#fff;border:1px solid #e5e5e5;border-radius:8px;text-align:left">
<form id="cocolabo-contact-form">
  <div style="margin-bottom:16px">
    <label for="contact-name" style="display:block;font-weight:700;margin-bottom:6px">お名前 <span style="color:#d33">必須</span></label>
    <input id="contact-name" name="name" type="text" autocomplete="name" required maxlength="80" style="width:100%;box-sizing:border-box;padding:12px;border:1px solid #ccc;border-radius:4px">
  </div>
  <div style="margin-bottom:16px">
    <label for="contact-email" style="display:block;font-weight:700;margin-bottom:6px">メールアドレス <span style="color:#d33">必須</span></label>
    <input id="contact-email" name="email" type="email" autocomplete="email" required maxlength="254" style="width:100%;box-sizing:border-box;padding:12px;border:1px solid #ccc;border-radius:4px">
  </div>
  <div style="margin-bottom:16px">
    <label for="contact-tel" style="display:block;font-weight:700;margin-bottom:6px">電話番号</label>
    <input id="contact-tel" name="tel" type="tel" autocomplete="tel" maxlength="40" style="width:100%;box-sizing:border-box;padding:12px;border:1px solid #ccc;border-radius:4px">
  </div>
  <div style="margin-bottom:16px">
    <label for="contact-category" style="display:block;font-weight:700;margin-bottom:6px">お問い合わせ種別</label>
    <select id="contact-category" name="category" style="width:100%;box-sizing:border-box;padding:12px;border:1px solid #ccc;border-radius:4px;background:#fff">
      <option value="体験参加">体験参加</option>
      <option value="出張講座・ワークショップ">出張講座・ワークショップ</option>
      <option value="スクールについて">スクールについて</option>
      <option value="取材・連携・協働">取材・連携・協働</option>
      <option value="その他">その他</option>
    </select>
  </div>
  <div style="margin-bottom:16px">
    <label for="contact-message" style="display:block;font-weight:700;margin-bottom:6px">お問い合わせ内容 <span style="color:#d33">必須</span></label>
    <textarea id="contact-message" name="message" rows="7" required maxlength="5000" style="width:100%;box-sizing:border-box;padding:12px;border:1px solid #ccc;border-radius:4px;resize:vertical"></textarea>
  </div>
  <div aria-hidden="true" style="position:absolute;left:-9999px;width:1px;height:1px;overflow:hidden">
    <label for="contact-website">Website</label>
    <input id="contact-website" name="website" type="text" tabindex="-1" autocomplete="off">
  </div>
  <div style="margin-bottom:18px">
    <label style="display:flex;gap:8px;align-items:flex-start">
      <input id="contact-consent" name="consent" type="checkbox" required style="margin-top:4px">
      <span><a href="/privacypolicy" target="_blank" rel="noopener">個人情報保護方針</a>に同意のうえ送信します。</span>
    </label>
  </div>
  <button id="contact-submit" type="submit" style="width:100%;padding:14px 20px;border:0;border-radius:999px;background:#28c3d4;color:#fff;font-size:16px;font-weight:700;cursor:pointer">送信する</button>
  <p id="contact-status" role="status" aria-live="polite" style="margin:14px 0 0;text-align:center;min-height:1.5em"></p>
</form>
<script>
(function(){
  var form=document.getElementById('cocolabo-contact-form');
  if(!form) return;
  var button=document.getElementById('contact-submit');
  var status=document.getElementById('contact-status');
  form.addEventListener('submit',async function(e){
    e.preventDefault();
    if(!form.reportValidity()) return;
    button.disabled=true;
    button.textContent='送信中…';
    status.textContent='';
    try{
      var payload={
        name:form.elements.name.value.trim(),
        email:form.elements.email.value.trim(),
        tel:form.elements.tel.value.trim(),
        category:form.elements.category.value,
        message:form.elements.message.value.trim(),
        website:form.elements.website.value
      };
      var res=await fetch('/api/contact',{
        method:'POST',
        headers:{'Content-Type':'application/json'},
        body:JSON.stringify(payload)
      });
      var data={};
      try{data=await res.json();}catch(_e){}
      if(!res.ok) throw new Error(data.error||'送信に失敗しました。');
      form.reset();
      status.style.color='#167a3a';
      status.textContent='お問い合わせを送信しました。ありがとうございます。';
    }catch(err){
      status.style.color='#b42318';
      status.textContent=err && err.message ? err.message : '送信に失敗しました。時間をおいて再度お試しください。';
    }finally{
      button.disabled=false;
      button.textContent='送信する';
    }
  });
})();
</script>
</div></div>
                </div>
              </div>
            </div>
          </div>
        </div><div class="pera1-section block" data-structure="b-ed-map" data-block-name="右地図+テキスト" id="section-7" data-optional-block-settings-key="11">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" style="background-image: url(//cdn.peraichi.com/template_root/v2/s3bucket/images/templates/ed/bg_fff.png)" data-bg-key="9">
            <div class="c-wrapper u-align-center">
              <div class="c-inner c-inner--lg c-inner--vertical">
                <div class="p-ed-heading-decoration c-heading u-mblg u-mbmd--sp font-round pera1-removable">
                      <h2 class="pera1-editable" data-structure="e-heading"><strong>アクセス</strong></h2>
                </div>
                <div class="grid-wrapper grid-wrapper--full">
                  <div class="row row-item-gutter--lg center-xs">
                    <div class="col-xs-12 col-sm-4 start-xs pera1-removable">
                      <div class="c-heading c-heading--sm u-mbsm font-round pera1-removable">
                            <div data-structure="e-text" class="pera1-editable"><span data-custom-pc-fontsize="14px"><strong>一般社団法人ココロエデュケーションラボ</strong></span></div>
                      </div>
                      <div class="u-mbsm pera1-removable">
                            <div data-structure="e-text" class="pera1-editable"><p>東京都葛飾区亀有5-33-4 浅野ビル2F<br>(スクールスタジオ)</p></div>
                      </div>
                      <div class="u-mbxs font-round pera1-removable">
                            <div data-structure="e-text" class="pera1-editable font-size-18px"><div>03-6820-2041</div></div>
                      </div>
                      <div class="u-mbmd font-round pera1-removable">
                            <div data-structure="e-text" class="pera1-editable font-size-18px">info@coco-labo.net<br></div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 u-mbmd pera1-removable">
                      <div class="c-embedly-object c-embedly-object--responsive">
                            <div class="pera1-editable" data-pera1-type="embed_gmap"><iframe src="https://www.google.com/maps/embed/v1/place?q=%E6%9D%B1%E4%BA%AC%E9%83%BD%E8%91%9B%E9%A3%BE%E5%8C%BA%E4%BA%80%E6%9C%895-33-4+%E6%B5%85%E9%87%8E%E3%83%93%E3%83%AB2F&amp;language=ja&amp;zoom=16&amp;maptype=roadmap&amp;key=AIzaSyCucBnVrKinLowf5-ChLoxp-jjWZ82TuTU" frameborder="0" width="400" height="225"></iframe></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="pera1-section block" data-structure="b-img" data-block-name="画像" id="section-24" data-optional-block-settings-key="12">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="10">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
        <div class="c-img c-img--responsive"><img class="pera1-editable" src="/asset-66c84e32be0d2c6b.png" alt="" data-structure="e-img">
        </div>
      </div>
    </div>
  </div>
</div><div class="s_footer-peraichi pera1-section block" data-structure="b-footer" data-block-name="フッター" id="section-10" data-optional-block-settings-key="13">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="11">
            <div class="c-wrapper c-wrapper">
              <div class="p-footer__inner">
                <div class="u-align-center">
                      <div data-structure="e-text" class="pera1-editable"><div>(C)2017-2024 一般社団法人ココロエデュケーションラボ</div>
<div><a href="/privacypolicy">個人情報保護方針</a></div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
  





















































































<script id="tmpl_nav" type="text/x-template">
          <ul class="nav nav-pills nav-stacked">
          <% _.each(sections, function(section) { %>
          <li><a href="#<%= section.id %>"><%= section.name %></a></li>
          <% }) %>
          </ul>
        </script>
<script id="template_html" type="text/x-template"></script>
<input type="hidden" value="https://captcha.peraichi.com/valid/" name="urlValidCaptcha"></body></html>