<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#"><meta charset="utf-8">
<title>KWHダンススクール</title>
<meta name="description" content="柏の葉にある、KWHダンススクールのホームページです。年少から小学生までのクラスがあり、地域に根付いて活動しています。新規生徒募集中！">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/asset-66856466784106c2.css" rel="stylesheet">
<link href="/asset-9b6bfe4c7ebe07b7.css" rel="stylesheet">
<link href="/asset-7f0894b4f33b9845.css" rel="stylesheet" id="js-theme-css-file" data-filename="vitamin_v2.css">

<script src="/asset-6bd87232efda5571.js"></script><script src="/asset-95d57abff548be98.js"></script><link rel="icon" href="/asset-ade46d6bba0dbe6b.png">
<meta property="og:image" content="https://cdn.peraichi.com/userData/57d5e478-0d28-475b-ad09-173a0a0000c2/img/36025889-c490-488a-b4b5-90fdaafcedd8/657700144_25410410511969170_2254388122581862287_n.jpg">
<meta property="og:url" content="https://coco-labo.net/kwhdanceschool"><script type="text/javascript" src="/asset-d6ddb99d949d9b40.js"></script><script type="text/javascript" src="/asset-2e1bc448edc6cb74.js"></script><script type="text/javascript" src="/asset-f00f33516f293f43.js"></script>
<link rel="canonical" href="/asset-e9643861bf9a27c9.bin"><meta name="robots" content="noindex, nofollow"></head>
  <body class="theme-blank theme-custom template-theme-vitamin_v2 fp_default" data-template-name="blank" style="overflow: auto; padding-top: 0px;" data-is-available-on-template-theme="true" data-is-initial-val-of-template-theme="28">
        <div class="pera1-section block" data-structure="b-main-set-2--left-overlay" data-block-name="メイン(左寄せ+ボタン透かし)" data-optional-block-settings-key="0" id="section-45">
  <div class="c-bg-img c-bg-img--cover p-main-set-2--left-overlay pera1-bg-editable" style='background-image: url("//cdn.peraichi.com/userData/57d5e478-0d28-475b-ad09-173a0a0000c2/img/4f7596f7-ce1b-4db2-b72d-6d75a1abb6f9/659118241_25410408815302673_5669747195423324078_n.jpg"); background-repeat: no-repeat; background-position: center center; background-size: cover;' data-bg-key="0" data-bgcolor="">
    <div class="grid-wrapper">
      <div class="row middle-xs start-sm center-xs p-main">
        <div class="col-sm-6 col-xs-12">
          <div class="p-main-set-2--left-overlay__main c-inner c-inner--xl c-inner--vertical">
            <div class="p-main-set-2--left__heading c-heading c-heading--lg u-mbmd pera1-removable">
              <h2 data-structure="e-heading" class="pera1-editable"><div><strong>KWHダンススクール</strong></div></h2>
            </div>
            <div class="pera1-removable u-mbmd">
              <div data-structure="e-text" class="pera1-editable">ダンスが好き。好きなことから自信につなげる。<br>表現する喜びを感じられるダンススクールです！</div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article--bdr" data-block-name="上画像(枠付)" id="section-31" data-optional-block-settings-key="1">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="1">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--one-elem c-inner--vertical">
        <div class="c-border c-inner c-inner--lg p-article--bdr__box">
          <div class="c-heading c-heading--block-main u-mbmd pera1-removable">
            <h2 data-structure="e-heading" data-custom-pc-fontsize="28px" class="pera1-editable"><strong><span data-custom-pc-fontsize="28px">私たちの想い</span><br></strong></h2>
          </div>
          
          <div class="c-wrapper c-wrapper--no-gutter c-wrapper--sm u-mbmd pera1-removable">
            <div data-structure="e-text" class="pera1-editable"><div style="text-align: center;"><br><strong><span data-custom-pc-fontsize="22px">「すべての子どもたちが自由に表現し、感情豊かに生きられるように 」</span></strong><br><br><strong>子どもたちに多くの体験と経験を届けたい！</strong><br><br>KWHダンススクールはダンスを通して、表現力、リズム感、身体能力を上げる・・・ことはもちろんのこと<br>子どもたちの自己肯定感や自己表現能力を高めることを目指したスクールです。</div>
<div style="text-align: center;">ダンスの基礎はもちろん、異年齢の仲間と一緒に楽しみながらコミュニケーション能力を高めていきます。<br>しっかり成長を感じられるカリキュラムをお届けしております。</div></div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-btn-set-3" data-block-name="ボタン＋斜めストライプ枠" data-optional-block-settings-key="2" id="section-49">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="2">
    <div class="grid-wrapper">
      <div class="c-inner c-inner--lg c-inner--one-elem c-inner--vertical">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="p-btn-set-3 u-align-center">
              <div class="p-btn-set-3__inner c-inner c-inner--lg">
                
                
                
                <div class="c-btn c-btn--round c-btn--min-half u-mbmd pera1-removable"><a class="pera1-editable" data-structure="e-btn" href="https://forms.gle/kLJ7Ycbbj75VVg2v9" target="_blank">体験会はこちら</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-32" data-optional-block-settings-key="3">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="3">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div class="c-heading c-heading--block-main u-mbmd pera1-removable">
          <h2 data-structure="e-heading" data-custom-pc-fontsize="22px" class="pera1-editable"><strong><span data-custom-pc-fontsize="48px">Feature</span><br><span data-custom-pc-fontsize="16px">選ばれる理由</span></strong></h2>
        </div>
        
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article-img-left" data-block-name="左画像" id="section-33" data-optional-block-settings-key="4">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="4">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="grid-wrapper grid-wrapper--full">
          <div class="row row-item-gutter--lg">
            <div class="col-xs-12 col-sm-5 basis-auto-sm u-align-center u-mbmd u-mbmd--sp pera1-removable">
              <div class="c-img c-img--responsive"><img class="pera1-editable" src="/asset-0b95674e4148fdf4.jpg" alt="" data-structure="e-img" style="">
              </div>
            </div>
            <div class="col-xs-12 col-sm">
              <div class="u-mbmd p-article-lead-text pera1-removable">
                <div data-structure="e-text" data-custom-pc-fontsize="48px" class="pera1-editable"><strong><em>01 </em><span data-custom-pc-fontsize="28px">豊富なクラスメニュー</span></strong></div>
              </div>
              <div class="u-mbmd p-article-subhead pera1-removable">
                <div data-custom-pc-fontsize="18px" data-structure="e-text" class="pera1-editable"><div><strong>ご自分にあったレベルをお選びいただけます</strong></div></div>
              </div>
              <div class="u-mbmd p-article-main-text pera1-removable">
                <div data-structure="e-text" class="pera1-editable"><div>音楽や歌詞に合わせ、感情を身体で表現するジャズダンスを軸とし、バレエ要素を基本とした幅広い楽のジャンルに合わせて踊ります。<br>それぞれリトルクラス、キッズクラス、ティーンズクラス(金曜のみ)と年齢や経験によって分かれたクラスをご用意しております。</div>
<div><br><br></div></div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article-img-right" data-block-name="右画像" id="section-34" data-optional-block-settings-key="5">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="5">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="grid-wrapper grid-wrapper--full">
          <div class="row row-item-gutter--lg">
            <div class="col-xs-12 col-sm-5 basis-auto-sm u-align-center u-mbmd u-mbmd--sp pera1-removable">
              <div class="c-img c-img--responsive"><img class="pera1-editable" src="/asset-052f32c69d9a0897.webp" alt="" data-structure="e-img" style="">
              </div>
            </div>
            <div class="col-xs-12 col-sm first-sm">
              <div class="u-mbmd p-article-lead-text pera1-removable">
                <div data-structure="e-text" data-custom-pc-fontsize="48px" class="pera1-editable"><strong><em>02</em> <span data-custom-pc-fontsize="28px">少人数で丁寧に指導</span></strong></div>
              </div>
              <div class="u-mbmd p-article-subhead pera1-removable">
                <div data-custom-pc-fontsize="18px" data-structure="e-text" class="pera1-editable"><div><strong>少人数制で初心者でも安心して参加できます</strong></div></div>
              </div>
              <div class="u-mbmd p-article-main-text pera1-removable">
                <div data-structure="e-text" class="pera1-editable">1クラス10-12名までの定員制としております。子どもたちの成長をしっかりと感じてもらえるクラス編成を目指しております。</div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article-img-left" data-block-name="左画像" data-optional-block-settings-key="6" id="section-46">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="6">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="grid-wrapper grid-wrapper--full">
          <div class="row row-item-gutter--lg">
            <div class="col-xs-12 col-sm-5 basis-auto-sm u-align-center u-mbmd u-mbmd--sp pera1-removable">
              <div class="c-img c-img--responsive"><img class="pera1-editable" src="/asset-f32710eb1fc18f60.webp" alt="" data-structure="e-img" style="">
              </div>
            </div>
            <div class="col-xs-12 col-sm">
              <div class="u-mbmd p-article-lead-text pera1-removable">
                <div data-custom-pc-fontsize="48px" data-structure="e-text" class="pera1-editable"><div><strong><em>03 </em><span data-custom-pc-fontsize="28px">イベントや発表会</span></strong></div></div>
              </div>
              <div class="u-mbmd p-article-subhead pera1-removable">
                <div data-custom-pc-fontsize="18px" data-structure="e-text" class="pera1-editable"><div><strong>レッスンと本番のバランスをしっかり取ります</strong></div></div>
              </div>
              <div class="u-mbmd p-article-main-text pera1-removable">
                <div data-structure="e-text" class="pera1-editable"><div>イベント出演や発表会など、日頃の成果をしっかり発揮できる場をご用意します。子ども達にとっては、本番を体験することで多くの学びや気づきを得てもらえる機会となります。</div></div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article-img-left--bdr" data-block-name="左画像(枠付)" data-optional-block-settings-key="7" id="section-51">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="7">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--one-elem c-inner--vertical">
        <div class="c-border c-inner c-inner--lg p-article--bdr__box">
          <div class="c-heading c-heading--block-main u-mbmd pera1-removable">
            <h2 data-structure="e-heading" class="pera1-editable"><div>
<p style="text-align: center;"><strong>ジャズダンス</strong><br><span data-custom-pc-fontsize="24px">バレエ要素を基本とした幅広い楽のジャンルに合わせて踊ります。</span><br><span data-custom-pc-fontsize="24px">楽や歌詞に合わせ、感情を全で表現するジャズダンスを軸とします。</span></p>
<p style="text-align: center;"><span data-custom-pc-fontsize="20px">※こどもたちの状況やレベルにあわせて楽曲や振付を講師が検討していきます。</span></p>
</div></h2>
          </div>
          <div class="grid-wrapper grid-wrapper--full">
            <div class="row row-item-gutter--lg">
              <div class="col-xs-12 col-sm-5 basis-auto-sm u-align-center pera1-removable">
                <div class="c-img c-img--responsive u-mbmd"><img class="pera1-editable" src="/asset-215589c07ccf52f8.jpg" alt="" data-structure="e-img" style="">
                </div>
              </div>
              <div class="col-xs-12 col-sm">
                <div class="u-mbmd p-article-lead-text pera1-removable">
                  <div data-structure="e-text" class="pera1-editable"><p>▼水曜日クラス<br>リトルクラス　15:35～16:20<br>キッズクラス　16:25～17:25</p>
<p><br>▼金曜日クラス<br>リトルクラス　16:05～16:50<br>キッズクラス　16:55～17:55<br>ティーンズクラス　18:00～19:00</p>
<p><br>※リトルクラスは年少～年長(小１)<br>キッズクラスは小1(年長)～小学6年生<br>ティーンズクラス小学4年生～</p></div>
                </div>
                
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-35" data-optional-block-settings-key="8">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="8">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div class="c-heading c-heading--block-main u-mbmd pera1-removable">
          <h2 data-custom-pc-fontsize="22px" data-structure="e-heading" class="pera1-editable"><strong><span data-custom-pc-fontsize="48px">Gallery</span><br><span style="font-size: 16px;">イベント風景</span></strong></h2>
        </div>
        
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-img-full-gallery--4col" data-block-name="ギャラリー(4列・余白なし)" id="section-36" data-optional-block-settings-key="9">
  <div data-structure="m-img-full-gallery--4col">
    <div class="grid-wrapper grid-wrapper--full">
      <div class="row row-item-gutter--none middle-xs center-reset--4col">
        
        
        
        <div class="col-xs-3 col-sm-3 pera1-removable" data-elem-name="col-img-gallery">
          <div class="c-img c-img--full u-align-center"><img class="pera1-editable" src="/asset-30e56fe04709196d.webp" alt="" data-structure="e-img" style="">
          </div>
        </div><div class="col-xs-3 col-sm-3 pera1-removable" data-elem-name="col-img-gallery">
          <div class="c-img c-img--full u-align-center"><img class="pera1-editable" src="/asset-e843ef40fbf63b35.webp" alt="" data-structure="e-img" style="">
          </div>
        </div><div class="col-xs-3 col-sm-3 pera1-removable" data-elem-name="col-img-gallery">
          <div class="c-img c-img--full u-align-center"><img class="pera1-editable" src="/asset-215589c07ccf52f8.jpg" alt="" data-structure="e-img" style="">
          </div>
        </div><div class="col-xs-3 col-sm-3 pera1-removable" data-elem-name="col-img-gallery">
          <div class="c-img c-img--full u-align-center"><img class="pera1-editable" src="/asset-e9b9a3b9a920a7f2.webp" alt="" data-structure="e-img" style="">
          </div>
        </div><div class="col-xs-3 col-sm-3 pera1-removable" data-elem-name="col-img-gallery">
          <div class="c-img c-img--full u-align-center"><img class="pera1-editable" src="/asset-b2eff6b9ba15969a.webp" alt="" data-structure="e-img" style="">
          </div>
        </div><div class="col-xs-3 col-sm-3 pera1-removable" data-elem-name="col-img-gallery">
          <div class="c-img c-img--full u-align-center"><img class="pera1-editable" src="/asset-4ebc8641a7772690.webp" alt="" data-structure="e-img" style="">
          </div>
        </div><div class="col-xs-3 col-sm-3 pera1-removable" data-elem-name="col-img-gallery">
          <div class="c-img c-img--full u-align-center"><img class="pera1-editable" src="/asset-0b95674e4148fdf4.jpg" alt="" data-structure="e-img" style="">
          </div>
        </div><div class="col-xs-3 col-sm-3 pera1-removable" data-elem-name="col-img-gallery">
          <div class="c-img c-img--full u-align-center"><img class="pera1-editable" src="/asset-def0e7c14625db82.webp" alt="" data-structure="e-img" style="">
          </div>
        </div><div class="col-xs-3 col-sm-3 pera1-removable pera1-ghost pera1-add pera1-multiple" data-elem-name="col-img-gallery" style="opacity: 0; height: 50px;" data-nosnippet="">
          <div class="c-img c-img--full u-align-center"><img class="pera1-editable" src="/asset-02dac427edadd7a7.svg" alt="" data-structure="e-img">
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="p-hr--blank-space-large pera1-section block" data-structure="b-hr--blank-space-large" data-block-name="余白(大・80px)" id="section-22" data-optional-block-settings-key="10">
  <div class="only-edit u-align-center"><i class="fa fa-info-circle"></i> 余白(80px)</div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="9">
    <div class="p-hr--blank-space-large__inner c-inner c-inner--lg c-inner--one-elem c-inner--vertical"></div>
  </div>
</div><div class="pera1-section block" data-structure="b-article" data-block-name="上画像" id="section-39" data-optional-block-settings-key="11">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="10">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        <div class="c-heading c-heading--block-main u-mbmd pera1-removable">
          <h2 data-structure="e-heading" data-custom-pc-fontsize="22px" class="pera1-editable"><strong><span data-custom-pc-fontsize="48px">Access</span><br><span data-custom-pc-fontsize="16px">アクセス</span></strong></h2>
        </div>
        
        
        
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-map-in-table--reverse" data-block-name="左テーブル内地図+画像" id="section-40" data-optional-block-settings-key="12">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="11">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="grid-wrapper grid-wrapper--full">
          <div class="row row-item-gutter--lg center-xs">
            <div class="col-xs-12 col-md-6 basis-auto-sm u-mbmd--sp pera1-removable">
              <div class="c-img c-img--responsive u-align-right"><img class="pera1-editable" src="/asset-0b95674e4148fdf4.jpg" alt="" data-structure="e-img" style="">
              </div>
            </div>
            <div class="col-xs-12 col-md-6 first-md pera1-removable">
              <div class="c-tr--bdr c-tr--bdr-btm u-mbmd pera1-removable">
                <table data-structure="m-table">
                  <tbody class="pera1-sortable">
                    <tr class="pera1-sortable-item pera1-removable" data-structure="e-tr">
                      <th data-structure="e-th" class="pera1-editable"><div><strong>スクール名</strong></div></th>
                      <td data-structure="e-td" class="pera1-editable">KWHダンススクール</td>
                    </tr>
                    <tr class="pera1-sortable-item pera1-removable" data-structure="e-tr">
                      <th data-structure="e-th" class="pera1-editable"><strong>所在地</strong></th>
                      <td data-structure="e-td" class="pera1-editable"><div style="text-align: left;">千葉県柏市若柴178番地4<br>柏の葉キャンパス148街区1</div>
<div style="text-align: left;">パークシティ柏の葉キャンパス<br>ザ・ゲートタワーウェスト3F　チコル内</div></td>
                    </tr>
                    <tr class="pera1-sortable-item pera1-removable" data-structure="e-tr">
                      <th data-structure="e-th" class="pera1-editable"><strong>電話番号</strong></th>
                      <td data-structure="e-td" class="pera1-editable"><div>03-6662-4440（代表番号）</div></td>
                    </tr>
                    <tr class="pera1-sortable-item pera1-removable pera1-multiple" data-structure="e-tr" data-elem-name="tr">
                      <th data-structure="e-th" class="pera1-editable"><strong>アクセス</strong></th>
                      <td class="pera1-editable" data-structure="e-td"><div class="pera1-removable u-adjacent-sibling-mtmd"><div data-structure="e-text" class="pera1-editable"><div>TX線柏の葉キャンパス駅より徒歩5分</div></div></div></td>
                    </tr><tr class="pera1-sortable-item pera1-removable pera1-ghost pera1-add" data-structure="e-tr" data-elem-name="tr" style="opacity: 0; height: 50px;">
                      <th data-structure="e-th" class="pera1-editable"><strong>アクセス</strong></th>
                      <td class="pera1-editable" data-structure="e-td"><div class="pera1-removable u-adjacent-sibling-mtmd"><div data-structure="e-text" class="pera1-editable">〇〇線〇〇駅より徒歩00分</div></div></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="u-mbmd u-fssm pera1-removable">
                <div data-structure="e-text" class="pera1-editable">※駐車場はございません。近隣のコインパーキングのご利用、または公共交通機関をご利用ください</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-map--lg" data-block-name="地図(大)" id="section-41" data-optional-block-settings-key="13">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="12">
    <div class="c-wrapper c-wrapper--lg">
      <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
        <div class="c-embedly-object c-embedly-object--responsive c-embedly-object--ratio-wide">
          <div class="pera1-editable" data-pera1-type="embed_gmap">
            <iframe src="https://www.google.com/maps/embed/v1/place?q=%E5%8D%83%E8%91%89%E7%9C%8C%E6%9F%8F%E5%B8%82%E8%8B%A5%E6%9F%B4178%E7%95%AA%E5%9C%B04+%E6%9F%8F%E3%81%AE%E8%91%89%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%91%E3%82%B9148%E8%A1%97%E5%8C%BA1+%E3%83%91%E3%83%BC%E3%82%AF%E3%82%B7%E3%83%86%E3%82%A3%E6%9F%8F%E3%81%AE%E8%91%89%E3%82%AD%E3%83%A3%E3%83%B3%E3%83%91%E3%82%B9+%E3%82%B6%E3%83%BB%E3%82%B2%E3%83%BC%E3%83%88%E3%82%BF%E3%83%AF%E3%83%BC%E3%82%A6%E3%82%A7%E3%82%B9%E3%83%883F&amp;language=ja&amp;zoom=16&amp;maptype=roadmap&amp;key=AIzaSyCucBnVrKinLowf5-ChLoxp-jjWZ82TuTU" frameborder="0" marginwidth="0" marginheight="0" width="100%" height="225px"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="p-hr--blank-space-medium pera1-section block" data-structure="b-hr--blank-space-medium" data-block-name="余白(中・40px)" id="section-38" data-optional-block-settings-key="14">
  <div class="only-edit u-align-center"><i class="fa fa-info-circle"></i> 余白(40px)</div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="13">
    <div class="p-hr--blank-space-medium__inner c-inner c-inner--one-elem c-inner--vertical"></div>
  </div>
</div><div class="p-hr--blank-space-large pera1-section block" data-structure="b-hr--blank-space-large" data-block-name="余白(大・80px)" id="section-37" data-optional-block-settings-key="15">
  <div class="only-edit u-align-center"><i class="fa fa-info-circle"></i> 余白(80px)</div>
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="14">
    <div class="p-hr--blank-space-large__inner c-inner c-inner--lg c-inner--one-elem c-inner--vertical"></div>
  </div>
</div><div class="pera1-section block" data-structure="b-btn-set-3" data-block-name="ボタン＋斜めストライプ枠" data-optional-block-settings-key="16" id="section-50">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="15">
    <div class="grid-wrapper">
      <div class="c-inner c-inner--lg c-inner--one-elem c-inner--vertical">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <div class="p-btn-set-3 u-align-center">
              <div class="p-btn-set-3__inner c-inner c-inner--lg">
                <div class="c-heading u-color-theme-main u-mbmd pera1-removable">
                  <h2 data-structure="e-heading" class="pera1-editable"><div><strong>体験会のお申し込みはこちら<br></strong></div></h2>
                </div>
                <div class="p-btn-set-3__text u-mbmd pera1-removable">
                  <div data-structure="e-text" class="pera1-editable"><p>体験レッスンのお申し込みはこちらからお願いします。<br>出来るだけ、ご希望の日程に沿う形でご案内させていただきます。<br>（ご返信には数日かかる場合ございますので、予めご了承ください）</p></div>
                </div>
                
                <div class="c-btn c-btn--round c-btn--min-half u-mbmd pera1-removable"><a class="pera1-editable" data-structure="e-btn" href="https://forms.gle/kLJ7Ycbbj75VVg2v9" target="_blank">体験会はこちら</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-hr-solid" data-block-name="区切り線(実線1px)" id="section-26" data-optional-block-settings-key="17">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="16">
    <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
      <hr class="c-hr-solid" data-structure="e-hr-solid">
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-btn-round" data-block-name="ラウンドボタン(中)" data-optional-block-settings-key="18" id="section-48">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="17">
    <div class="c-wrapper u-align-center">
      <div class="c-inner c-inner--md c-inner--one-elem c-inner--vertical">
        <div class="c-btn c-btn--round"><a class="pera1-editable" href="/" data-structure="e-btn" target="_blank">ココラボTOPへ戻る</a>
        </div>
      </div>
    </div>
  </div>
</div><div class="pera1-section block" data-structure="b-article-img-left" data-block-name="左画像" id="section-27" data-optional-block-settings-key="19">
  <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="18">
    <div class="c-wrapper">
      <div class="c-inner c-inner--lg c-inner--vertical">
        
        <div class="grid-wrapper grid-wrapper--full">
          <div class="row row-item-gutter--lg">
            
            <div class="col-xs-12 col-sm">
              
              
              <div class="u-mbmd p-article-main-text pera1-removable">
                <div data-structure="e-text" class="pera1-editable"><div style="text-align: center;">KWHダンススクール<br>千葉県柏市若柴178番地4 柏の葉キャンパス148街区1パークシティ柏の葉キャンパス<br>ザ・ゲートタワーウェスト3F（チコル内）<br><br></div></div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div><div class="s_footer-peraichi pera1-section block" data-structure="b-footer" data-block-name="フッター" id="section-1" data-optional-block-settings-key="20">
          <div class="c-bg-img c-bg-img--cover pera1-bg-editable" data-bg-key="19">
            <div class="c-wrapper c-wrapper">
              <div class="p-footer__inner">
                <div class="u-align-center">
                      <div data-structure="e-text" class="pera1-editable"><div>Copyright Since 2017 一般社団法人ココロエデュケーションラボ</div></div>
                </div>
              </div>
            </div>
          </div>
        </div>








































































<script id="tmpl_nav" type="text/x-template">
          <ul class="nav nav-pills nav-stacked">
          <% _.each(sections, function(section) { %>
          <li><a href="#<%= section.id %>"><%= section.name %></a></li>
          <% }) %>
          </ul>
        </script>
<script id="template_html" type="text/x-template"></script></body></html>